:root {
  --primary-color: #4b5563;
  --secondary-color: #f9fafb;
  --element-background-color: #fff;
  --button-color: #60a5fa;
  --button-hover-color: #a7f3d0;
  --primary-text-color: #1f2937;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: var(--secondary-color);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  width: 100%;
}
header {
  background-color: var(--primary-color);
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
}
header h1 {
  color: var(--element-background-color);
  font-family: "McLaren", cursive;
  font-weight: 200;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
}
footer p {
  color: #ccc;
}
.note {
  background: var(--element-background-color);
  border-radius: 7px;
  box-shadow: 8px 8px 5px #ccc;
  padding: 10px;
  width: 15rem;
  margin: 0.5rem;
  float: left;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  color: var(--primary-text-color);
}
.note h1 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.note p {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  position: relative;
  float: right;
  margin-right: 0.3rem;
  color: #60a5fa;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  outline: none;
}
form.create-note {
  position: relative;
  width: 75%;
  min-width: 200px;
  max-width: 500px;
  margin: 30px auto 20px auto;
  background: var(--element-background-color);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  color: var(--primary-text-color);
}
form.create-note button {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  background: var(--primary-color);
  color: var(--element-background-color);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
form.create-note button:hover,
form.create-note button:focus {
  background-color: var(--button-color);
}
.note button:hover,
.note button:focus {
  background-color: #fca5a5;
  color: var(--button-color);
}
